# Streamlit-specific files
.streamlit/

# Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Log files
*.log

# Environment files
.env
*.env

# OS-specific ignores
.DS_Store
Thumbs.db

# Editor-specific ignores
.vscode/
.idea/

# Build directories
build/
dist/
*.egg-info/
